<div *ngIf="store.state().cards[this.id] as card" (pointerenter)="onEnter()" (pointerdown)="onDown($event)"
  (pointerup)="onUp($event)" (pointerleave)="onLeave()"
  [style.transform]="'scale(' + activeScale() + ',' + activeScale() + ')'" [ngClass]="moving()?'':'duration-200'"
  [ngStyle]="{rotate:randomRotate()+'deg', left:card.position.x+'px', top:card.position.y+'px', zIndex:card.zIndex}"
  class="absolute select-none transform-gpu">

  <div *ngIf="card.open;else cardClosed" [ngStyle]="{
      backgroundColor:card.color, 
      width: card.size.x+'px', 
      height: card.size.y+'px'}"
    class="flex justify-center items-center duration-300 animate-flip border border-textB rounded-md transform-gpu"
    [ngClass]="animCloseStarted() && card.open ? 'scale-x-0 scale-y-125' : ''">
    <div class="w-full h-full" [ngStyle]="{
      backgroundImage: card.imgUrl, 
      backgroundSize: card.size.x+'px ' + card.size.y+'px'}">
    </div>
  </div>

  <ng-template #cardClosed>
    <div class="duration-300 animate-flip border border-textB rounded-md transform-gpu" [ngStyle]="{
        backgroundImage: 'url(assets/card_back_1.png)', 
        backgroundSize: card.size.x+'px ' + card.size.y+'px', 
        width: card.size.x+'px', 
        height: card.size.y+'px'}" [ngClass]="animOpenStarted() && !card.open ? 'scale-x-0 scale-y-125' : ''">
    </div>
  </ng-template>
</div>