<div *ngIf="store.statusS() === 'menu'" class="grid w-full h-full justify-center items-center p-3 text-xl">
  <div class="absolute left-[56vw] top-[30vh] -rotate-12 border border-black rounded-md" [ngStyle]="{
    backgroundImage: 'url(assets/card_back_1.png)', 
    backgroundSize: '128px 128px', 
    width: '128px', 
    height: '128px'}">
    <div
      class="absolute w-full h-full from-tertiary to-secondary bg-gradient-to-t mix-blend-overlay saturate-150 opacity-90">
    </div>
  </div>
  <div class="absolute left-[48vw] top-[36vh] rotate-6 border border-black rounded-md" [ngStyle]="{
    backgroundImage: 'url(assets/card_back_1.png)', 
    backgroundSize: '128px 128px', 
    width: '128px', 
    height: '128px'}">
    <div
      class="absolute w-full h-full from-tertiary to-secondary bg-gradient-to-t mix-blend-overlay saturate-150 opacity-90">
    </div>
  </div>
  <div
    class="grid grid-flow-row gap-2 z-10 backdrop-brightness-[0.33] rounded-md p-3 shadow-xl shadow-black animate-slideIn">
    <div class="header p-3">Memory</div>
    <hr>
    <global-input-number inputType="number" inputFieldWidth="4rem" [disabled]="true" [step]="2"
      [max]="store.pictureListS().length*2" [min]="4" [(ngModel)]="inputCardCount">Karten:</global-input-number>
    <global-input-number inputType="number" inputFieldWidth="4rem" [disabled]="true" [step]="1" [max]="4" [min]="0"
      [(ngModel)]="inputPlayerCount">Spieler:</global-input-number>
    <global-input-number inputType="number" inputFieldWidth="4rem" [disabled]="true" [step]="1" [max]="4" [min]="0"
      [(ngModel)]="inputKiCount">KI
      Spieler:</global-input-number>
    <global-input-checkbox (whenChanged)="onCheckBoxChange($event)">Zieh-Nochmal-Modus</global-input-checkbox>
    <hr>
    <button standard (click)="onStartGame()">Spiel starten</button>
  </div>
</div>

<ng-container *ngIf="store.statusS() === 'playing'">
  <ng-container *ngFor="let card of store.cardsS()">
    <app-card [cardId]="card.id" [id]="'card_'+card.id"></app-card>
  </ng-container>
  <div (click)="onResetGame()" [class.pointer-events-none]="store.circleStatusS() !== 'gameFinish'"
    [class.origin-top-left]="store.circleStatusS() === 'gameFinish' || store.circleStatusS() === 'intro'"
    class="absolute -translate-x-[50%] -translate-y-[50%] select-none z-[9999] duration-300 ease-in-out"
    [ngClass]="store.circleStatusS() === 'scale-x-0'?'scale-x-0 scale-y-110':''"
    [ngStyle]="{left:store.circlePosS().x+'px',top:store.circlePosS().y+'px', scale:store.circleScaleS()}">
    <div [ngStyle]="{borderColor:store.playerS()[store.actualPlayerIdS()].color}"
      class="w-64 h-64 rounded-full shadow-md shadow-black backdrop-brightness-[0.33] border-4 p-1 grid text-center font-semibold overflow-hidden animate-zoomIn">
      <ng-container *ngIf="store.circleStatusS() !== 'gameFinish';else finish">
        <div class="text-xl pt-3">Runde {{ store.roundS() }}</div>
        <div class="self-center text-[3rem] text-primary">{{ store.playerS()[store.actualPlayerIdS()].points }}</div>
        <div class="self-end text-xxl pb-3">{{ store.playerS()[store.actualPlayerIdS()].name }}</div>
      </ng-container>
      <ng-template #finish>
        <div class="text-xs text-warning pt-12">{{inputCardCount}} Karten in {{store.roundS()}} Runden
          aufgedeckt!</div>
        <ng-container *ngFor="let player of store.playerS()">
          <div class="self-center text-sm text-primary">{{player.name}} bekommt {{player.points}} {{player.points === 1
            ? 'Punkt':'Punkte'}}.
          </div>
        </ng-container>
        <div class="h-4"></div>
      </ng-template>
    </div>
  </div>
</ng-container>