<div *ngIf="store.statusS() === 'menu'" class="grid w-full h-full justify-center items-center p-3 text-xl">
  <div class="absolute left-[56vw] top-[30vh] -rotate-12 border border-black rounded-md" [ngStyle]="{
    backgroundImage: 'url(assets/card_back_1.png)', 
    backgroundSize: '128px 128px', 
    width: '128px', 
    height: '128px'}">
    <div
      class="absolute w-full h-full from-tertiary to-secondary bg-gradient-to-t mix-blend-overlay saturate-150 opacity-90">
    </div>
  </div>
  <div class="absolute left-[48vw] top-[36vh] rotate-6 border border-black rounded-md" [ngStyle]="{
    backgroundImage: 'url(assets/card_back_1.png)', 
    backgroundSize: '128px 128px', 
    width: '128px', 
    height: '128px'}">
    <div
      class="absolute w-full h-full from-tertiary to-secondary bg-gradient-to-t mix-blend-overlay saturate-150 opacity-90">
    </div>
  </div>
  <div
    class="grid grid-flow-row gap-2 z-10 backdrop-brightness-[0.33] rounded-md p-3 shadow-xl shadow-black animate-slideIn">
    <div class="header p-3">Memory</div>
    <hr>
    <global-input-number inputType="number" inputFieldWidth="4rem" [disabled]="true" [step]="2"
      [max]="store.pictureListS().length*2" [min]="4" [(ngModel)]="inputCardCount"
      (ngModelChange)="inputChanged()">Karten:</global-input-number>
    <global-input-number inputType="number" inputFieldWidth="4rem" [disabled]="true" [step]="1" [max]="4" [min]="0"
      [(ngModel)]="inputPlayerCount" (ngModelChange)="inputChanged()">Spieler:</global-input-number>
    <global-input-number inputType="number" inputFieldWidth="4rem" [disabled]="true" [step]="1" [max]="4" [min]="0"
      [(ngModel)]="inputKiCount" (ngModelChange)="inputChanged()">KI
      Spieler:</global-input-number>
    <global-input-checkbox [checked]="store.playAgainModeS()" (whenChanged)="onCheckBoxChange($event)"
      (ngModelChange)="inputChanged()">Zieh-Nochmal-Modus</global-input-checkbox>
    <hr>
    <button standard [disabled]="inputPlayerCount+inputKiCount <= 0" (click)="onStartGame()">Spiel starten</button>
  </div>
</div>
<ng-container *ngIf="store.statusS() === 'playing'">
  <ng-container *ngFor="let card of store.cardsS()">
    <app-card [cardId]="card.id" [id]="'card_'+card.id"></app-card>
  </ng-container>
  <div (click)="onResetGame()" [class.pointer-events-none]="store.circleStatusS() !== 'gameFinish'"
    class="absolute select-none z-[9999] duration-300 ease-in-out"
    [ngClass]="store.circleStatusS() === 'scale-x-0'?'scale-x-0 scale-y-110':''"
    [ngStyle]="{left:store.circlePosS().x+'px',top:store.circlePosS().y+'px'}">
    <div [ngStyle]="{borderColor:store.playerS()[store.actualPlayerIdS()].color}"
      [ngClass]="store.circleStatusS() !== 'gameFinish' ? 'w-[256px] h-[256px] rounded-full border-4' : 'w-screen h-screen'"
      class="duration-500 shadow-md shadow-black backdrop-brightness-[0.33] p-1 grid text-center font-semibold overflow-hidden animate-zoomIn">
      <ng-container *ngIf="store.circleStatusS() !== 'gameFinish';else finish">
        <div class="text-xl pt-3">Runde {{ store.roundS() }}</div>
        <div class="self-center text-[3rem] text-primary">{{ store.playerS()[store.actualPlayerIdS()].points }}</div>
        <div class="self-end text-xxl pb-3">{{ store.playerS()[store.actualPlayerIdS()].name }}</div>
      </ng-container>
      <ng-template #finish>
        <div class="text-lg text-primary pt-12 whitespace-pre-wrap">
          <div>
            {{inputCardCount}} Karten
          </div>
          <div>
            in {{store.roundS()}} Runden aufgedeckt!</div>
        </div>
        <ng-container *ngFor="let player of store.playerS()">
          <div class="self-center text-xl" [ngStyle]="{color:player.color}">{{player.name}} bekommt
            {{player.points}} {{player.points === 1
            ? 'Punkt':'Punkte'}}.
          </div>
        </ng-container>
        <div class="h-4"></div>
      </ng-template>
    </div>
  </div>
</ng-container>
<div *ngIf="store.lastGameOpenS()"
  class="w-screen h-screen fixed left-0 top-0 backdrop-brightness-50 backdrop-blur-sm grid justify-center items-center z-50">
  <div class="text-xxl bg-bgA p-4 rounded">
    <div>Weiterspielen?</div>
    <div class="flex w-full gap-2 justify-around pt-4">
      <button standard class="w-20" (click)="store.onPlayOn(true)">Ja</button>
      <button standard class="w-20" (click)="store.onPlayOn(false)">Nein</button>
    </div>
  </div>
</div>